//Brand
$brand-01: #0061DF;
$brand-02: #4E4E5A;
$brand-03: #727279;

//Typography
$text-01: rgba(0, 0, 0, 0.87);
$text-02: rgba(0, 0, 0, 0.6);
$text-025: rgba(0, 0, 0, 0.5);
$text-03: rgba(0, 0, 0, 0.3);
$text-04: rgba(0, 0, 0, 0.17);
$text-inverse: #FFFFFF;

//Surface / Background
$ui-01: #FFFFFF;
$ui-02: #FAFAFC;
$ui-03: #F0F1F3;
$ui-04: #D3D4D8;
$ui-05: #A1A4B1;
$ui-06: #232735;
$ui-07: #000000;

//Hover state
$hover-primary: #3E465F;
$hover-row: #EEEEF1;

//Support
$support-info: #000000;
$support-success: #000000;
$support-error: #000000;
$support-warning: #FF0000;
